detail accounting_detail {
 filename = "{{.SpoolDirectory}}/detail-%Y%m%d%H"
 permissions = 0600
 locking = yes
 dates_as_integer = yes
 log_packet_header = no
 suppress {
  User-Password
  CHAP-Password
  Tunnel-Password
  EAP-Message
  EAP-MSK
  EAP-EMSK
  EAP-Session-Id
  Message-Authenticator
  MS-MPPE-Send-Key
  MS-MPPE-Recv-Key
  C8021X-Handoff
  REST-HTTP-Header
 }
}
