# Internal server attributes cannot be decoded from a NAS RADIUS packet.
ATTRIBUTE C8021X-Client 3000 string
ATTRIBUTE C8021X-Location 3001 string
ATTRIBUTE C8021X-Source 3002 string
ATTRIBUTE C8021X-Receipt 3003 date
ATTRIBUTE C8021X-Replay 3004 string
ATTRIBUTE C8021X-Host 3005 string
ATTRIBUTE C8021X-Handoff 3006 string
ATTRIBUTE C8021X-Station 3007 string
ATTRIBUTE C8021X-Called 3008 string
ATTRIBUTE C8021X-Port-Type 3009 string
ATTRIBUTE C8021X-Reason 3010 string
ATTRIBUTE C8021X-Packet-ID 3011 string
ATTRIBUTE C8021X-Authenticator 3012 string
ATTRIBUTE C8021X-Delay 3013 string
ATTRIBUTE C8021X-Port-Count 3014 integer
ATTRIBUTE C8021X-Station-Count 3015 integer
